.chat-main {
  min-height: 100vh;
  .side-bar {
    width: 100px;
    border-radius: 0;
    .logo {
      img {
        width: 40px;
        cursor: pointer;
      }
    }
    .menu {
      margin-top: 550px;
      .img-sect {
        position: relative;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .img-sect::after {
        content: "";
        width: 10px;
        height: 10px;
        background: rgb(15, 155, 83);
        border-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
      }
      button {
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
        margin-top: 20px;
        font-size: 1.2rem;
        color: inherit;
      }
      button:hover {
        background: #333;
        color: white;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .users {
    width: 400px;
    height: calc(80vh + 10px);
    border: 1px solid #80808090;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    .top-search {
      width: 80%;
      border-radius: 25px;
      height: 50px;
      justify-content: space-between;
      overflow: hidden;
      input {
        background: transparent;
        color: inherit;
        height: 50px;
        width: calc(100% - 100px);
        border: none;
        outline: none;
        padding-left: 15px;
      }
      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 5px;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
    .main-users {
      width: 100%;
      height: 700px;
      overflow: scroll;
      .wrap {
        gap: 10px;
      }
      .card {
        width: 300px;
        height: 60px;
        justify-content: space-between;
        border: 1px solid #80808090;
        padding-left: 20px;
        padding-right: 20px;
        color: black;
        border-radius: 0;
        cursor: pointer;
        border-radius: 30px;
        .profile {
          gap: 5px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .arrow {
          max-width: 0;
          transition: 0.3s;
        }
      }
      .card:hover {
        .arrow {
          max-width: inherit;
        }
      }

      #active {
        width: 100%;
        background: #eee;
        padding: 0px 20px;
        border: 1px solid #80808090;
      }
    }
  }
  .message-wrap {
    width: calc(100% - 500px);
    height: 85svh;
    border-radius: 0;
    .user-info {
      width: 780px;
      border-radius: 50px;
      justify-content: space-between;
      padding: 10px;
      .profile {
        gap: 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        p {
          font-size: 0.8rem;
          text-transform: capitalize;
        }
      }
      button {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
        color: inherit;
      }
    }
    .message-main {
      width: 800px;
      height: 75%;
      padding-bottom: 30px;
      padding-top: 30px;
      overflow-y: scroll;
      overflow-x: hidden;
      .right-message {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        width: 90%;
        margin-left: 7%;
        padding: 10px; // Add padding for better spacing
        border-radius: 10px;
        position: relative;
        p {
          padding: 10px 30px;
          background: #edeade;
          color: black;
          border-radius: 20px;
          margin-right: 20px;
          border-top-right-radius: 0px;
          position: relative;
          overflow: visible;
        }
        img {
          width: 25px;
          height: 25px;
          position: absolute;
          border-radius: 20px;
        }
      }
      .left-message {
        display: flex;
        justify-content: flex-start;
        text-align: right;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        p {
          padding: 10px 30px;
          background: #333;
          border-radius: 20px;
          color: white;
          border-top-left-radius: 0px;
          overflow: visible;
          position: relative;
          margin-left: 20px;
        }
        img {
          width: 25px;
          height: 25px;
          position: absolute;
          top: -25px;
          left: -25px;
          border-radius: 20px;
        }
      }
    }
    .message-send {
      width: 80%;
      height: 60px;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 30px;
      overflow: hidden;
      input {
        width: 80%;
        height: 50px;
        padding-left: 20px;
        outline: none;
        border: none;
        background: transparent;
        color: inherit;
      }
      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        color: white;
        font-size: 1.2rem;
        transform: rotate(-45deg);
        cursor: pointer;
      }
    }
  }
}
