.connect-portal {
  width: 100%;
  height: 100vh !important;
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0;
  .main-connect {
    padding: 50px;
    background: white;
    color: black;
    gap: 10px;
    border: 1px solid;
    img {
      width: 50px;
    }
    h1 {
      font-weight: 900;
      font-size: 1.5rem;
    }
    .main-wrapper {
      align-items: start;
      gap: 10px;
      h2 {
        font-size: 1rem;
        font-weight: 400;
      }
      .wrap {
        width: 260px;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
        }
        h2 {
          font-size: 1rem;
          font-weight: 400;
        }
      }
      .wrap:hover {
        scale: 1.1;
      }
    }
    .new-text {
      width: 300px;
      justify-content: space-between;
      margin-top: 50px;
      .link {
        text-decoration: none;
        font-weight: 600;
        color: blueviolet;
      }
    }
  }
}
