.main-deal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.5);
  // backdrop-filter: blur(15px);
  border-radius: 0;
  z-index: 1000;
  top: 0;
  .main-wrap {
    padding: 40px;
    .wrap {
      width: 100%;
      justify-content: space-between !important;
      img {
        width: 300px;
        height: 350px;
      }
      .right-info {
        width: 300px;
        align-items: start;
        gap: 10px;
        h1 {
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: capitalize;
        }
        .price {
          align-items: start;
          p {
            font-weight: 600;
            font-family: "Inter";
          }
        }
        .line {
          width: 100%;
        }
        .input-wrap {
          align-items: start;
          position: relative;
          gap: 5px;
          p {
            font-weight: 600;
          }
          input {
            width: 290px;
            height: 40px;
            padding-left: 10px;
            outline: none;
            font-family: Raleway;
            background: transparent;
            color: inherit;
          }
        }
        .input-wrap::after {
          content: "ETH";
          position: absolute;
          font-weight: 600;
          bottom: 12px;
          right: 20px;
          font-size: 0.7rem;
        }
        p {
          font-size: 0.7rem;
          margin-top: 20px;

          text-align: justify;
        }
        button {
          width: 100%;
          height: 40px;
          background: white;
          border: none;
          color: black;
          font-weight: 600;
          font-size: 0.8rem;
          text-transform: uppercase;
          cursor: pointer;
          border: 1px solid #808090;
        }
      }
    }
  }
}
