.explore-wrapper {
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  section {
    width: 100%;
    justify-content: space-between;
    position: relative;
    height: 30vh;
    align-items: end;
    h1 {
      font-size: 5rem;
      font-weight: 900;
      align-items: start;
      span {
        font-size: 2rem;
        padding-top: 10px;
        font-weight: 300;
      }
    }
    button {
      background: transparent;
      color: inherit;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 1.2rem;
      position: sticky;
      bottom: -25px;
      right: 0;
      background: royalblue;
      color: white;
      position: relative;
    }

    .filter-controls {
      margin-top: 20px;
      width: 250px;
      justify-content: center;
      transition: 0.3s;
      height: 200px;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      overflow: hidden;
      transition: 0.3s;
      background: white;
      position: absolute;
      left: -202px;
      top: 35px;
      input {
        width: 200px;
        height: 40px;
        padding-left: 10px;
        outline: none;
      }
    }
  }

  .loader {
    width: 100%;
    justify-content: space-between;
    align-items: start !important;
  }
  .main-data {
    margin-top: 50px;
    justify-content: space-between;
    width: 100%;
  }
  .wrapper {
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    .right {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      position: relative;
      width: 100%;
      .filter-btn {
        width: 40px;
        height: 40px;
        border: 1px solid #9090903e;
        color: inherit;
        position: absolute;
        top: -50px;
        right: 0;
        border-radius: 10px;
        cursor: pointer;
      }

      .card {
        // align-items: start;
        gap: 20px;
        margin-top: 50px;
        .img-sect {
          width: 370px;
          height: 410px;
          background: #eee;
          overflow: hidden;
          img {
            cursor: pointer;
            max-width: 300px;
            max-height: 300px;
            height: auto;
            transition: 0.3s;
          }
        }

        .info {
          align-items: start;
          gap: 10px;
          h2 {
            font-weight: 600;
            font-size: 1rem;
          }
          .owner {
            width: 330px;
            justify-content: space-between;
            .left {
              display: flex;
              gap: 5px;
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
              h3 {
                font-size: 1rem;
                font-weight: 500;
                text-transform: capitalize;
              }
              .image-popup {
                width: 200px;
                height: 200px;
                position: absolute;
                top: -210px;
                left: -80px;
                animation: scale 0.3s linear;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                }
              }
            }
            .more {
              width: 30px;
              height: 30px;
              gap: 2px;
              cursor: pointer;
              .dot {
                width: 4px;
                height: 4px;
                background: #666;
              }
            }
          }
          .border {
            width: 330px;
            margin-top: 10px;
          }
          .price {
            width: 330px;
            justify-content: space-between;
            h2 {
              font-family: "Inter";
              font-size: 0.9rem;
              font-weight: 400;
            }
            button {
              width: 100px;
              height: 35px;
              text-transform: uppercase;
              border: 1px solid gray;
              background: transparent;
              font-size: 0.7rem;
              color: inherit;
              cursor: pointer;
              border: 1px solid #809090;
              background: white;
              color: black;
            }
          }
        }
      }
    }
    .filters {
      height: 60vh;
      margin-top: 13vh;
      width: 350px;
      justify-content: start;
      gap: 20px;
      .search-bar {
        transition: 0.3s;
        width: 300px;
        height: 40px;
        border: 1px solid #9090909d;
        left: calc(50% - 400px);
        color: inherit;
        bottom: -25px;
        overflow: hidden;
        border-radius: 10px;
        .icon {
          width: 5%;
        }
        input {
          width: 250px;
          padding-left: 10px;
          height: 100%;
          border: none;
          outline: none;
          background: transparent;
          color: inherit;
        }
      }

      .search-bar:focus-within {
        box-shadow: 0 0 5px #9090903e;
      }
      .line {
        width: 300px;
        border: 1px solid #9090903e;
      }
      .toggler {
        width: 300px;
        justify-content: space-between;
        cursor: pointer;
        p {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 0.8rem;
        }
      }
      .suggestions {
        align-items: center;
        justify-content: center;
        .wrap {
          flex-wrap: wrap;
          gap: 10px;
          max-width: 300px;
          p {
            font-size: 0.5rem;
            width: 91px;
            display: flex;
            justify-content: center;
            height: 30px;
            border: 1px solid #9090909d;
            text-transform: uppercase;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }
          p:hover {
            border: 1px solid;
          }
        }
      }
      .btns {
        gap: 10px;
        button {
          width: 160px;
          height: 40px;
          margin-left: 200px;
          color: inherit;
          cursor: pointer;
        }
      }
    }
  }
}
