.featuerd-wrap {
  width: calc(100% - 200px);
  padding: 100px;
  align-items: start;
  gap: 10px;
  h1 {
    font-weight: 400;
    font-size: 3rem;
    position: relative;
    justify-content: space-between;
    width: 100%;
    display: flex;
    button {
      width: 100px;
      height: 40px;
      border: 1px solid;
      color: inherit;
      background: transparent;
      font-size: 0.7rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  p {
    font-size: 1.2rem;
  }
  .wrapper {
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    .card {
      align-items: start;
      gap: 20px;
      padding-bottom: 30px;
      .img-sect {
        width: 360px;
        height: 410px;
        overflow: hidden;
        img {
          cursor: pointer;
          width: 361px;
          height: 411px;
          transition: 0.3s;
        }
      }
      .img-sect:hover {
        img {
          scale: 1.1;
        }
      }
      .info {
        align-items: start;
        gap: 20px;
        h2 {
          font-weight: 300;
          font-size: 1.2rem;
        }
        .owner {
          width: 360px;
          justify-content: space-between;
          .left {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 1px solid;
            }
            h3 {
              font-size: 1.2rem;
              font-weight: 400;
              padding-top: 8px;
              text-transform: capitalize;
            }
          }
          .more {
            width: 30px;
            height: 30px;
            gap: 2px;
            cursor: pointer;
            .dot {
              width: 4px;
              height: 4px;
              background: #666;
            }
          }
        }
        .border {
          width: 360px;
          margin-top: 10px;
        }
        .price {
          width: 360px;
          justify-content: space-between;

          h2 {
            font-size: 1.2rem;
          }
          button {
            width: 100px;
            height: 35px;
            text-transform: uppercase;
            border: 1px solid;
            background: transparent;
            font-size: 0.7rem;
            color: inherit;
            cursor: pointer;
            border: 1px solid transparent;
            background: #333;
            color: white;
          }
          button:hover {
            border: 1px solid;
            color: inherit;
            background: transparent;
          }
        }
      }
    }
  }
}
