.header-wrap {
  width: calc(100% - 200px) !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  position: fixed;
  background: inherit;
  transition: 0.3s;
  border-radius: 0;
  z-index: 10;
  .logo {
    cursor: pointer;
    img {
      width: 40px;
    }
  }
  .search-bar {
    width: 250px;
    height: 35px;
    position: relative;
    input {
      width: 200px;
      height: 100%;
      background: transparent;
      border: none;
      color: inherit;
      padding-left: 10px;
      outline: none;
      font-size: 0.7rem;
    }
    .suggestions-list {
      position: absolute;
      width: 130%;
      height: 100vh;
      height: auto;
      align-items: start;
      padding: 20px;
      top: 50px;
      background: white;
      border-radius: 5px;
      transition: 0.5s;
      animation: animate 0.3s linear;
      h1 {
        font-size: 0.9rem;
        font-weight: 600;
      }
      .wrap {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        li {
          width: 75px;
          height: 25px;
          font-size: 0.6rem;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
    @keyframes animate {
      100% {
        transform: translateY(20px);
      }
    }
  }

  .navs {
    gap: 20px;
    ul {
      gap: 20px;
      #active {
        position: relative;
        transition: 0.3s;
        background: inherit;
      }
      #active::after {
        content: "";
        width: 10px;
        border: 1px solid;
        position: absolute;
        top: 20px;
        left: calc(50% - 5px);
      }
      li {
        font-size: 0.8rem;
        text-transform: uppercase;
        list-style: none;
        font-weight: 400;
        transition: 0.3s;
        cursor: pointer;
        .transform {
          transform: rotate(90deg);
        }
      }
    }
    .menu {
      cursor: pointer;
      gap: 2px;
      position: relative;
      .line {
        width: 20px;
        height: 1.5px;
      }
    }
    .main-menu {
      transition: 0s;
      position: absolute;
      width: 0;
      background: #333;
      top: 30px;
      max-height: 0;
      right: calc(100% - 20px);
      align-items: start;
      color: white;
      gap: 10px;
      overflow: hidden !important;
      p {
        text-transform: uppercase;
        font-size: 0.7rem;
        cursor: pointer;
      }
      .links {
        width: 100%;
        justify-content: space-between;
        .link {
          font-size: 1.2rem;
          color: inherit;
        }
      }
    }
    .main-menu-active {
      position: absolute;
      border: 1px solid #80808023 !important;
      width: 130px;
      transition: 0s;
      cursor: auto;
      padding: 20px;
      padding-left: 20px;
      background: #333;
      top: 30px;
      right: calc(100% - 20px);
      align-items: start;
      gap: 10px;
      overflow: hidden !important;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 25px;
      p {
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: pointer;
        position: relative;
        width: 150px;
        font-weight: 500;
        justify-content: space-between;
        display: flex;
      }

      .line {
        width: 130px;
        height: 0.5px;
        padding-top: 10px;
        border-bottom: 1px solid;
        border-radius: 0;
        margin-bottom: 10px;
      }
      .links {
        width: 100%;
        justify-content: space-between;
        .link {
          font-size: 1.2rem;
          color: inherit;
        }
      }
    }
    button {
      width: 100px;
      height: 35px;
      font-size: 0.6rem;
      color: inherit;
      background: transparent;
      cursor: pointer;
      border: 1px solid;
    }
    .profile {
      position: relative;
      gap: 5px;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      h2 {
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
      }
      .menu {
        max-width: 0;
        max-height: 0;
        overflow: hidden !important;
        position: absolute;
        ul {
          align-items: center;
          gap: 12px;
          width: 130px;
          li {
            font-size: 0.8rem;
            font-weight: 500;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border: 1px solid #808090;
            border-radius: 50%;
            position: relative;
          }
        }
      }
      .menu-active {
        width: 60px;
        position: absolute;
        top: 50px;
        right: px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 25px;
        // overflow: hidden;
        cursor: auto;
        align-items: center;
        justify-content: center;
        .bottom {
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          align-items: center;
          width: 100%;
          ul {
            align-items: center;
            gap: 12px;
            width: 130px;
            li {
              font-size: 0.8rem;
              font-weight: 500;
              justify-content: center;
              width: 40px;
              height: 40px;
              margin-right: 10px;
              border: 1px solid #808090;
              border-radius: 50%;
              position: relative;
            }
            li:hover {
              background: royalblue;
              color: white;
              border: 1px solid royalblue;
            }
            li:hover::after {
              transition: 0.3s;
              content: attr(data-nav);
              width: 120px;
              height: 30px;
              background: royalblue;
              position: absolute;
              right: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.7rem;
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
              color: white;
              border-top-right-radius: 15px;
              top: -20px;
            }
          }
        }
      }
    }
  }
  .search-section {
    width: 100%;
    height: 88vh;
    position: absolute;
    top: 12vh;
    .tags {
      width: 500px;
      height: 300px;
      background: #4444;
      position: absolute;
      top: 0;
      left: 200px;
    }
  }
}

.header--hidden {
  transform: translateY(-100%);
}

.header--visible {
  transform: translateY(0);
}

@media (max-width: 1000px) {
  .search-bar {
    max-width: 0;
    overflow: hidden;
    border: none !important;
  }
}

@media (max-width: 600px) {
  .navs {
    li {
      max-width: 0;
      overflow: hidden;
    }
  }
}
