.intro {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden !important;
  h1 {
    font-weight: 900;
    font-size: 10rem;
    max-width: 63%;
    text-align: center;
    line-height: 130px;
    position: relative;
    z-index: 1;
    color: rgb(167, 155, 91);
  }
  h1::after {
    content: "";
    width: 300px;
    height: 5px;
    position: absolute;
    bottom: -20px;
    right: 0;
    background: rgb(167, 155, 91);
  }
  h1::before {
    content: "";
    width: 300px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 0;
    background: rgb(167, 155, 91);
  }
  .carousel {
    width: 100%;
    position: absolute;
    height: 100%;
    .card {
      width: 40%;
      height: 80%;
      backdrop-filter: blur(10px);
      position: absolute;
      transition: 1s;

      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .arrow-down {
    position: absolute;
    bottom: 20px;
    right: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: rgb(167, 155, 91);
    color: white;
  }
  .arrow-down::after {
    content: "Scroll Down";
    position: absolute;
    width: 120px;
    left: -120px;
    font-weight: 400;
    color: rgb(167, 155, 91);
    text-transform: uppercase;
  }
}
