.login-portal {
  width: 100%;
  height: 100vh !important;
  background: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0 !important;
  overflow: hidden;
  transition: 0.3s;
  justify-content: center !important;
  .login-wrap {
    width: 340px;
    height: 420px;
    transition: 0.3s;
    animation: animate 200ms linear;
    position: absolute;
    gap: 10px;
    img {
      width: 50px;
    }
    h1 {
      font-weight: 900;
      font-size: 1.5rem;
    }
    .form {
      align-items: start;
      margin-top: 30px;
      gap: 15px;
      .input-wrap {
        align-items: center;
        gap: 5px;
        position: relative;
        padding-left: 10px;
        border: 1px solid #808090;
        .icon {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
        input {
          width: 250px;
          height: 40px;
          border: none;
          background: transparent;
          outline: none;
          font-size: 0.8rem;
          color: inherit;
          padding-left: 5px;
        }
      }
      button {
        // width: 150px;
        // height: 40px;
        margin-left: 80px;
        justify-content: center;
        gap: 10px;
        background: transparent;
        // background: white;
        // color: black;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 600;
        transition: 0.9s;
      }

      .link {
        width: 210px;
        text-align: end;
        margin-left: 80px;
        font-size: 0.9rem;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  @keyframes animate {
    from {
      scale: 0.8;
    }
    to {
      scale: 1;
    }
  }
  .register-wrap {
    padding: 50px 30px;
    position: relative;
    transition: 0.3s;
    .btn-back {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 30px;
      left: 30px;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
    }
    img {
      width: 50px;
    }
    h1 {
      font-weight: 900;
      font-size: 1.5rem;
      margin-top: 15px;
    }
    .wrap {
      gap: 20px;
      .form {
        align-items: start;
        margin-top: 30px;
        gap: 15px;
        .input-wrap {
          border: 1px solid #808080;
          align-items: center;
          gap: 5px;
          position: relative;
          padding-left: 10px;
          .icon {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
          }
          input {
            width: 250px;
            height: 40px;
            padding-left: 5px;
            border: none;
            background: transparent;
            color: inherit;
            outline: none;
            font-size: 0.8rem;
          }
        }
        .text {
          position: relative;
          border: 1px dashed;
          background: transparent;
          width: 275px;
          height: 90px;
          input {
            z-index: 1000;
            width: 200px;
            height: 90px;
            border: 1px dashed;
            opacity: 0;
            cursor: pointer;
            position: absolute;
          }
          p {
            position: absolute;
            font-size: 0.8rem;
            gap: 5px;
            font-weight: 600;
            span {
              font-size: 0.7rem;
              font-weight: 400;
            }
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
          }
        }

        .link {
          width: 210px;
          text-align: end;
          margin-left: 75px;
          font-size: 0.9rem;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .btns {
      button {
        width: 150px;
        height: 40px;
        background: white;
        color: black;
        text-transform: uppercase;
        margin-left: 160px;
        justify-content: center;
        gap: 10px;
      }
    }
    .link {
      font-size: 4rem;
    }
    .link {
      width: 210px;
      text-align: end;
      margin-left: 420px;
      font-size: 0.9rem;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
