.main-art {
  min-height: 100vh;
  justify-content: space-between;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  .main-art-left {
    width: 800px;
    background: #111;
    height: 85vh;
    margin-top: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 750px;
      max-height: 95%;
    }
  }
  .main-art-right {
    width: 400px;
    height: auto;
    align-items: end;
    justify-content: end;
    gap: 30px;
    height: 80vh;
    .top {
      width: 400px;
      align-items: start;
      gap: 20px;
      .icons {
        gap: 10px;
        .icon {
          width: 40px;
          height: 40px;
          cursor: pointer;
          background: white;
          color: black;
          border: 1px solid #808090;
          border-radius: 20px;
        }
      }
      h1 {
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: capitalize;
      }
    }
    .owner-series {
      width: 400px;
      justify-content: space-between !important;

      .owner {
        cursor: pointer;
        gap: 5px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        h2 {
          font-weight: 600;
          font-size: 1.2rem;
          text-transform: capitalize;
        }
      }
    }
    .line {
      border: 1px solid #33333377;
      width: 400px;
    }
    .price {
      width: 400px;
      justify-content: start;
      h2 {
        font-weight: 600;
      }
    }
    .btns {
      gap: 10px;
      button {
        width: 195px;
        height: 45px;
        background: transparent;
        color: inherit;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 600;
        background: #333;
        border: none;
        color: white;
      }
      button:last-child {
        background: white;
        color: black;
        border: 1px solid #808090;
      }
    }
    .line-main {
      margin-top: 100px;
    }
    .desciption {
      justify-content: start;
      width: 400px;
      margin-top: 50px;
      transition: 0.3s;
      p {
        max-width: 400px;
        text-align: justify;
        font-size: 0.9rem;
      }
    }
    .more {
      width: 400px;
      height: 1px;
      background: #33333377;
      position: relative;
      button {
        width: 40px;
        height: 40px;
        position: absolute;
        background: white;
        color: black;
        border: 1px solid #808090;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }
  }
}

.more-by-artist {
  width: calc(100% - 200px);
  padding: 100px;
  justify-content: start;
  h1 {
    text-transform: capitalize;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 120px;
      height: 40px;
      background: white;
      color: black;
      border: 1px solid #808090;
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .wrapper {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    margin-top: 50px;
    .card {
      width: 380px;
      margin-top: 50px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      .img-sect {
        width: 380px;
        height: 450px;
        overflow: hidden;
        img {
          max-width: 320px;
          max-height: 400px;
          transition: 0.3s;
        }
      }

      .info {
        width: 100%;
        height: calc(100% + 10px);
        transition: 0.3s;
        overflow: hidden;
        bottom: 0;
        color: inherit;
        justify-content: end;
        align-items: start;
        padding-left: 50px;
        bottom: -1px;
        padding-bottom: 20px;
        gap: 10px;
        h3 {
          font-weight: 600;
          font-size: 1rem;
          margin-top: 20px;
        }
        .owner {
          gap: 2px;
          margin-top: 10px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          .wrap {
            align-items: start;
            p {
              font-size: 0.6rem;
            }
            h2 {
              font-weight: 600;
              text-transform: capitalize;
              font-size: 1rem;
            }
          }
        }
        .price {
          width: 330px;
          justify-content: space-between;
          h2 {
            font-size: 0.9rem;
            font-weight: 400;
          }
          button {
            width: 100px;
            height: 35px;
            background: white;
            border: 1px solid #808090;
            font-size: 0.7rem;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
        .line {
          width: 330px;
          margin-top: 10px;
        }
      }
    }
  }
}

.details-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  border-radius: 0;
  z-index: 1000;
  .information {
    border: none;
    padding: 30px;
    align-items: start;
    gap: 20px;
    h1 {
      font-weight: 900;
      font-size: 1.5rem;
      border-bottom: 2px solid #808090;
      padding-bottom: 5px;
    }
    .card {
      width: 300px;
      justify-content: space-between;
      p {
        font-weight: 600;
        text-transform: capitalize;
        font-size: 0.7rem;
        position: relative;
        cursor: pointer;
      }
      span {
        position: absolute;
        background: #333;
        color: white;
        cursor: pointer;
        max-width: 0;
        overflow: hidden;
        font-weight: 900;
        padding: 5px 10px;
        font-size: 0.4rem;
        top: -150%;
        right: -20px;
        border-radius: 10px;
        padding-top: 6px;
        padding: 0;
        transition: 0.3s;
      }
    }
    .card:hover {
      span {
        padding: 6px 10px;
        max-width: 100%;
      }
    }
    .tags {
      width: 300px;
      justify-content: end;
      flex-wrap: wrap;
      gap: 5px;
      .tag {
        width: 120px;
        height: 35px;
        font-size: 0.6rem;
        font-weight: 600;
        cursor: pointer;
        background: #333;
        color: white;
      }
    }
    .line {
      width: 350px;
    }
    .previous-owners {
      align-items: start;
      width: 100%;
      gap: 10px;
      flex-wrap: wrap-reverse;
      h3 {
        font-size: 0.9rem;
        font-weight: 800;
      }
      .card {
        justify-content: start;
        gap: 5px;
        display: flex;
        flex-wrap: wrap-reverse;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          text-transform: lowercase;
          font-weight: 400;
        }
      }
    }
  }
}
