.top-series {
  padding-top: 5vh;
  min-height: 100vh;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  .left-image {
    width: 550px;
    height: 580px;
    position: relative;
    .owner {
      width: 500px;
      gap: 5px;
      position: absolute;
      cursor: pointer;
      right: -350px;
      img {
        width: 100px;
        height: 100px;
        padding: 10px;
        background: white;
        border-radius: 50%;
      }
      h2 {
        font-weight: 300;
        text-transform: capitalize;
        font-size: 2rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
  .right-content {
    align-items: end;
    height: 500px;
    gap: 20px;
    justify-content: end;
    .icons {
      gap: 10px;
      .icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
    h1 {
      font-weight: 300;
      font-size: 1.5rem;
    }
    .description {
      align-items: end;
      max-width: 400px;
      gap: 10px;
      p {
        font-size: 0.8rem;
      }
      h2 {
        font-size: 0.9rem;
        font-weight: 300;
        text-align: end;
      }
    }
    .total-worth {
      align-items: end;
      gap: 5px;
      p {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      h2 {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
    button {
      width: 150px;
      height: 40px;
      background: #333;
      color: white;
      border: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}

.more-by-artist {
  h1 {
    position: relative;
  }
  .owner {
    gap: 5px;
    h2 {
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}
