.main-art {
  min-height: 100vh;
  justify-content: space-between;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  .main-art-left {
    width: 600px;
    height: 600px;
    margin-top: 10vh;
    img {
      width: 600px;
      height: 600px;
      border-radius: 5px;
    }
  }
  .main-art-right {
    width: 600px;
    height: auto;
    align-items: end;
    justify-content: end;
    gap: 30px;
    height: 80vh;
    .top {
      align-items: end;
      gap: 20px;
      .icons {
        gap: 10px;
        .icon {
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
      h1 {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
    .owner-series {
      width: 400px;
      justify-content: space-between;
      .owner {
        cursor: pointer;
        gap: 5px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        h2 {
          font-weight: 300;
          text-transform: capitalize;
        }
      }
    }
    .line {
      width: 400px;
      border: 1px solid #33333377;
    }
    .price {
      width: 400px;
      justify-content: start;
    }
    .btns {
      gap: 10px;
      button {
        width: 195px;
        height: 45px;
        background: transparent;
        color: inherit;
        text-transform: uppercase;
        cursor: pointer;
      }
      button:last-child {
        background: #333;
        color: white;
        border: 1px solid transparent;
      }
    }
    .line-main {
      margin-top: 100px;
    }
    .desciption {
      justify-content: start;
      width: 400px;
      margin-top: 50px;
      transition: 0.3s;
      p {
        max-width: 400px;
        text-align: justify;
        font-size: 0.9rem;
      }
    }
    .more {
      width: 400px;
      height: 1px;
      background: #33333377;
      position: relative;
      button {
        width: 40px;
        height: 40px;
        position: absolute;
        background: #333;
        color: white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }
  }
}
