.top-profile {
  .bg-image {
    gap: 20px;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 1px solid white;
    }
  }
}

.more-by-artist {
  h1 {
    position: relative;
  }
  .owner {
    gap: 5px;
    h2 {
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}
