.notification-container {
  // width: calc(100% - 200px);
  padding: 100px;
  justify-content: space-between !important;
  .wrap {
    width: 100%;
    align-items: start;
    h1 {
      font-size: 5rem;
      line-height: 150px;
    }
    .card-wrap {
      width: 100%;
      margin-top: 50px;
      gap: 20px;
      .card {
        width: 370px;
        margin-top: 10px;
        align-items: start;
        gap: 10px;
        .img-sect {
          cursor: pointer;
          width: 370px;
          height: 410px;
          img {
            max-width: 320px;
            max-height: 350px;
          }
        }
        .offered-by {
          margin-left: 20px;
          gap: 5px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          p {
            line-height: 20px;
          }
        }
        .offering-price {
          width: 100%;
          margin-right: 20px;
          p {
            margin-right: 20px;
            font-size: 0.8rem;
            font-weight: 600;
          }
        }
        .line {
          width: 330px;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 20px;
        }
        .btns {
          width: calc(100% - 40px);
          margin-left: 20px;
          justify-content: space-between;
          button {
            width: 150px;
            height: 40px;
            background: white;
            border: 1px solid #80808090;
            font-size: 0.7rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
