.main-profile {
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  height: 88vh;
  padding-top: 12vh;
  background: inherit;
  color: inherit;
}

.dashboard {
  align-items: start;
  width: 100%;
  height: 100%;
  gap: 30px;
  h1 {
    font-weight: 900;
    font-size: 5rem;
  }
  .scanner {
    justify-self: flex-end;
    align-self: flex-end;
    padding: 20px;
    border: 1px solid #80808090;
    position: relative;
  }
  .scanner::after {
    content: "Scan mE";
    position: absolute;
    text-transform: uppercase;
    transform: rotate(-90deg);
    left: -70px;
    background: white;
    color: #333;
    font-weight: 900 !important;
    padding: 10px 30px;
    font-size: 0.6rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .heading {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      width: 100px;
      height: 35px;
      background: #555;
      font-size: 0.6rem;
      color: orange;
    }
  }
  .wrapper {
    width: 100%;
    gap: 30px;
    .wrap {
      width: 100%;
      justify-content: space-between;
      gap: 0;
      h1 {
        font-size: 3rem;
        font-weight: 900;
        h6 {
          font-size: 0.6rem;
        }
      }
      .btns {
        gap: 20px;
        button {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: transparent;
          font-size: 1.2rem;
          cursor: pointer;
          position: relative;
          color: inherit;
          background: #f0f0f0;
          color: #333;
        }
        button::after {
          content: attr(data-text);
          font-size: 0.6rem;
          text-transform: uppercase;
          position: absolute;
          bottom: -20px;
          color: inherit;
          font-weight: 600;
          color: gray;
        }
      }
      .card {
        width: 150px;
        height: 130px;
        padding: 20px;
        background: #eee;
        color: black;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        p {
          font-size: 0.5rem;
          text-transform: uppercase;
          font-weight: 600;
          margin-top: 10px;
          align-self: flex-start;
          justify-self: flex-start;
        }
        h2 {
          font-size: 6rem;
          font-weight: 900;
          align-self: flex-end;
          justify-self: flex-end;
          padding-top: 20px;
        }
      }
    }
    .btns-bottom {
      margin-left: calc(100% - 50px);
      gap: 10px;
      button {
        width: 50px;
        height: 50px;
        border: none;
        background: #f0f0f0;
        color: #333;
        text-transform: uppercase;
        font-size: 1.2rem;
        cursor: pointer;
        color: whites;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.art-sect {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 1000;
  top: 0;
  border-radius: 0 !important;
  .wrap {
    animation: animate 100ms linear;
    padding: 50px 50px;
    flex-wrap: wrap;
    max-width: 980px;
    max-height: 600px;
    overflow: scroll;
    background: white;
    justify-content: start;
    gap: 20px;
    border: none;
    img {
      width: 120px;
      height: 150px;
      cursor: pointer;
      transition: 0.3s;
    }
    img:hover {
      scale: 1.1;
    }
  }
}

.create-prompt {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.5);
  top: 0;
  z-index: 10000;
  border-radius: 0 !important;
  // backdrop-filter: blur(5px);
  gap: 0;
  h1 {
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
  }
  p {
    color: white;
  }
  .cards {
    margin-top: 20px;
    gap: 20px;
    .card {
      width: 200px;
      height: 150px;
      gap: 10px;
      cursor: pointer;
      .icon {
        font-size: 3rem;
      }
    }
    .card:hover {
      background: rgb(167, 155, 91) !important;
      color: white;
    }
  }
}
