// .sidebar {
//   width: calc(100% - 200px);
//   padding-left: 100px;
//   padding-right: 100px;
//   height: 80px;
//   position: fixed;
//   left: 0;
//   justify-content: space-between;
//   border-radius: 0;
//   top: 0;
//   img {
//     width: 35px;
//     cursor: pointer;
//   }
//   .nav-icons {
//     gap: 10px;
//     .icon {
//       width: 40px;
//       height: 40px;
//       cursor: pointer;
//     }
//   }
//   .btn-logout {
//     width: 40px;
//     height: 40px;
//     cursor: pointer;
//   }
// }

.main-profile {
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
  background: inherit;
  color: inherit;
  .welcome-wrap {
    gap: 20px;
    align-items: end;
    .profile {
      gap: 10px;
      margin-top: 50px;
      align-items: start;
      .wrap {
        gap: 10px;
        align-items: center;
        justify-content: start;
        img {
          width: 50px;
          height: 50px;
          border: 1px solid;
          border-radius: 50%;
        }
        span {
          font-size: 1.5rem;
          text-transform: capitalize;
        }
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 900;
      }
      p {
        text-transform: capitalize;
      }
    }
    .wrap {
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      margin-top: 20px;
      .card {
        width: 350px;
        height: 200px;
        position: relative;
        cursor: pointer;
        background: #333;
        .icon {
          width: 40px;
          height: 40px;
          background: #333;
          color: white;
          position: absolute;
          top: -20px;
          right: 20px;
        }
        .main {
          height: 100%;
          h1 {
            font-size: 5rem;
            font-weight: 900;
            color: inherit;
            color: white;
          }
        }
      }
      .card:hover {
        transform: translateY(-20px);
      }
      // .card:first-child {
      //   background: orange;
      // }
      // .card:nth-child(2) {
      //   background: rgb(201, 11, 113);
      //   color: white;
      //   .icon {
      //     background: inherit;
      //   }
      // }
      // .card:nth-child(3) {
      //   background: rgb(7, 129, 228);
      //   color: white;
      // }
    }
    .chart {
      width: 100%;
      align-items: start;
    }
    button {
      width: 200px;
      height: 40px;
      background: #333;
      border: none;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 0.8rem;
    }
  }
}

.update-wrap {
  width: 100%;
  justify-content: space-between;
  .left {
    align-items: start;
    gap: 10px;
    .profile {
      gap: 10px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      h2 {
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 400;
      }
    }
    .wrap {
      justify-content: space-between;
      width: 150px;
      padding: 10px 20px;
      cursor: pointer;
      p {
        font-size: 0.6rem;
        text-transform: uppercase;
      }
      h2 {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
    .links {
      width: 190px;
      gap: 10px;
      margin-left: 202px;
      justify-content: end;
      .link {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        color: inherit;
      }
    }
    button {
      width: 192px;
      height: 40px;
      background: #333;
      color: white;
      border: none;
      margin-left: 200px;
      text-transform: uppercase;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
  .right {
    gap: 30px;
    align-items: start;
    transition: 0s;
    padding-left: 20px;
    .form {
      gap: 10px;
      justify-content: start;
      .input-wrap {
        width: 400px;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        input {
          width: 370px;
          height: 40px;
          border: none;
          background: transparent;
          outline: none;
          color: inherit;
        }
      }
      .file {
        width: 420px;
        height: 150px;
        border: 1px dashed;
        position: relative;
        cursor: pointer;
        input {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0;
        }
        .icon {
          font-size: 2.5rem;
        }
        p {
          margin-top: 10px;
        }
      }
      .btns {
        width: 100%;
        align-items: end;
        gap: 10px;
        button {
          width: 200px;
          height: 40px;
          background: #333;
          color: white;
          border: 1px solid #333;
          text-transform: uppercase;
          cursor: pointer;
        }
        button:last-child {
          background: transparent;
          color: inherit;
        }
      }
    }
  }
  .wallet {
    position: absolute;
    bottom: 50px;
    right: 120px;
    gap: 10px;
    button {
      width: 40px;
      height: 40px;
      background: #333;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}

.art-sect {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  .main {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    overflow: scroll;
    height: 90% !important;
    justify-content: space-between !important;
    .card {
      position: relative;
      width: 350px;
      height: 380px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
      .info {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), black);
        max-height: 0;
        overflow: hidden;
        bottom: 0;
        backdrop-filter: blur(2px);
        color: white;
        justify-content: end;
        align-items: start;
        padding-left: 50px;
        gap: 10px;
        h3 {
          font-weight: 600;
        }

        .price {
          align-items: end;
          justify-content: end;
          width: 300px;
          justify-content: space-between;
          p {
            font-size: 0.8rem;
            text-transform: uppercase;
          }
          h2 {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
        .delete-btn {
          width: 50px;
          height: 50px;
          background: red;
          position: absolute;
          top: 40px;
          border: 1px solid transparent;
          right: 40px;
          cursor: pointer;
          font-size: 1.2rem;
          border-radius: 25px;
        }
        .delete-btn:hover {
          color: red;
          background: transparent;
          border: 1px solid;
        }
        .btns {
          gap: 10px;
          margin-top: 10px;
          button {
            width: 150px;
            height: 40px;
            background: transparent;
            border: 1px solid;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            background: rgba($color: #eee, $alpha: 0.3);
            border: 1px solid transparent;
            margin-left: 150px;
            text-transform: uppercase;
          }
          button:hover {
            background: transparent;
            border: 1px solid rgba($color: #eee, $alpha: 0.5);
          }
        }
      }
    }
    .card:hover {
      .info {
        max-height: 100%;
        padding-bottom: 20px;
      }
    }
  }
  .main::-webkit-scrollbar {
    max-width: 0;
  }
  button {
    width: 150px;
    height: 40px;
    background: transparent;
    margin-left: calc(100% - 150px);
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: inherit;
  }
}

.art-sect::-webkit-scrollbar {
  width: 0px !important; /* Hide scrollbar for Webkit browsers */
}

.dashboard {
  align-items: start;
  width: 100%;
  height: 100%;
  gap: 30px;
  .heading {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      width: 100px;
      height: 35px;
      background: #555;
      font-size: 0.6rem;
      color: white;
      font-weight: 600;
    }
  }
  .wrapper {
    width: 100%;
    gap: 50px;
    .wrap {
      width: 100%;
      justify-content: space-between;
      h1 {
        font-size: 3rem;
        font-weight: 400;
      }
      .btns {
        gap: 20px;
        button {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: transparent;
          font-size: 1.2rem;
          cursor: pointer;
          position: relative;
          color: inherit;
        }
        button::after {
          content: attr(data-text);
          font-size: 0.6rem;
          text-transform: uppercase;
          position: absolute;
          bottom: -20px;
          font-weight: 600;
        }
      }
      .card {
        width: 320px;
        height: 150px;
        align-items: start;
        padding-left: 20px;
        cursor: pointer;
        p {
          font-size: 0.5rem;
          text-transform: uppercase;
          font-weight: 600;
        }
        h2 {
          font-size: 3rem;
          font-weight: 400;
        }
      }
    }
  }
  .btns-logout {
    gap: 10px;
    margin-left: calc(100% - 110px);
    button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #111;
      color: inherit;
      background: transparent;
      font-size: 1.1rem;
      cursor: pointer;
      position: relative;
    }
    button::after {
      content: attr(data-text);
      position: absolute;
      bottom: -20px;
      color: black;
      font-size: 0.6rem;
      font-weight: 600;
      text-transform: uppercase;
      color: inherit;
    }
  }
}
