.top-wrap {
  padding-top: 20vh;
  padding-bottom: 10vh;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  gap: 100px;
  align-items: end;
  justify-content: center;
  .left {
    img {
      width: 500px;
      height: 550px;
      border-radius: 10px;
    }
  }
  .right {
    align-items: start;
    gap: 20px;
    h1 {
      font-weight: 900;
      font-size: 2rem;
    }
    .tags {
      gap: 10px;
      p {
        padding: 10px 30px;
        font-size: 0.6rem;
        padding-top: 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .profile-wrap {
      cursor: pointer;
      gap: 2px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
      h2 {
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }
    .price-wrap {
      align-items: end;
      p {
        font-size: 0.7rem;
      }
      h2 {
        font-weight: 400;
      }
    }
    .btns-wrap {
      gap: 10px;
      button {
        width: 150px;
        height: 40px;
        background: transparent;
        color: inherit;
        font-size: 0.8rem;
        cursor: pointer;
      }
      button:last-child {
        background: #333;
        color: white;
        border: 1px solid transparent;
      }
    }
  }
}
