.top-profile {
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 200px;
  .bg-image {
    width: 100%;
    height: 350px;
    margin-top: 100px;
    position: relative;
    .profile {
      align-items: start;
      position: absolute;
      bottom: -100px;
      left: 50px;
      img {
        width: 100px;
        height: 100px;
        padding: 10px;
        background: white;
        border-radius: 50%;
      }
      h2 {
        font-weight: 400;
        text-transform: capitalize;
      }
      div {
        p {
          position: relative;
          span {
            position: absolute;
            top: -10px;
            right: -20px;
            cursor: pointer;
          }
        }
      }
    }
    .icons {
      padding: 10px;
      position: absolute;
      bottom: -25px;
      gap: 10px;
      right: 50px;
      .icon {
        width: 40px;
        height: 40px;
        background: rgba($color: #fff, $alpha: 0.2);
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
}

.tag-menu {
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 1px solid #666;
  padding-bottom: 0;
  align-items: start;
  border-radius: 0;
  justify-content: start;
  gap: 50px;
  p {
    text-transform: uppercase;
    padding-bottom: 10px;
    cursor: pointer;
  }
}

.art-series {
  margin-left: 100px;
  padding-top: 50px;
  width: calc(100% - 200px);
  border-bottom: 0;
  padding-bottom: 100px;
  .main-art-wrap {
    width: 100%;
    padding-bottom: 10vh;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    .card {
      width: 350px;
      height: 380px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }

      .info {
        position: absolute;
        width: 350px;
        height: 380px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), black);
        max-height: 0;
        overflow: hidden;
        bottom: 0;
        backdrop-filter: blur(2px);
        color: white;
        justify-content: end;
        align-items: start;
        padding-left: 50px;
        gap: 10px;
        h3 {
          font-weight: 600;
        }
        .owner {
          gap: 10px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgba($color: #fff, $alpha: 0.8);
          }
          .wrap {
            align-items: start;
            p {
              font-size: 0.6rem;
            }
            h2 {
              font-weight: 400;
              text-transform: capitalize;
              font-size: 1.2rem;
            }
          }
        }
        .price {
          align-items: end;
          justify-content: end;
          width: 300px;
          justify-content: space-between;
          p {
            font-size: 0.8rem;
            text-transform: uppercase;
          }
          h2 {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
        .btns {
          gap: 10px;
          button {
            width: 150px;
            height: 40px;
            background: transparent;
            border: 1px solid;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            background: rgba($color: #eee, $alpha: 0.3);
            border: 1px solid transparent;
            margin-left: 150px;
            text-transform: uppercase;
          }
          button:hover {
            background: transparent;
            border: 1px solid rgba($color: #eee, $alpha: 0.3);
          }
        }
      }
    }
    .card:hover {
      .info {
        max-height: 100%;
        padding-bottom: 20px;
      }
    }
  }
}
